<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SphinxDirectoryCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SphinxDirectoryCrawler.Properties.Settings>
            <setting name="mysql_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mysql_user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mysql_password" serializeAs="String">
                <value>windows</value>
            </setting>
            <setting name="mysql_db" serializeAs="String">
                <value>sphinx_lib_eshia_ir</value>
            </setting>
            <setting name="mysql_table" serializeAs="String">
                <value>documents</value>
            </setting>
            <setting name="mysql_temp_table" serializeAs="String">
                <value>documents_tmp</value>
            </setting>
            <setting name="mysql_deleted_table" serializeAs="String">
                <value>documents_deleted</value>
            </setting>
            <setting name="root_directory" serializeAs="String">
                <value>C:\inetpub\Books\Shia</value>
            </setting>
            <setting name="wildcard_pattern" serializeAs="String">
                <value>*.html</value>
            </setting>
            <setting name="regex_pattern" serializeAs="String">
                <value>(?'bookid'\d{5})\\(?'volume'\d{2,3})\\(?'page'\d{3,4})\.html$</value>
            </setting>
        </SphinxDirectoryCrawler.Properties.Settings>
    </applicationSettings>
</configuration>